<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown {% if page.dir == '/pages' %}active{% endif %}">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/pages/add.html">addPage()</a></li>
				<li><a href="/pages/view.html">getPage()</a></li>
				<li><a href="/pages/list.html">getPages()</a></li>
				<li><a href="/pages/update.html">updatePage()</a></li>
				<li><a href="/pages/delete.html">deletePage()</a></li>
			</ul>
		</li>

<!--
		<li class="dropdown active">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notices <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/pages/add.html">addNotice()</a></li>
				<li><a href="/pages/view.html">getNotice()</a></li>
				<li><a href="/pages/list.html">getNotices()</a></li>
				<li><a href="/pages/update.html">updateNotice()</a></li>
				<li><a href="/pages/delete.html">deleteNotice()</a></li>
			</ul>
		</li>

		<li class="dropdown active">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notice Updates <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/pages/add.html">addNoticeUpdate()</a></li>
				<li><a href="/pages/view.html">getNoticeUpdate()</a></li>
				<li><a href="/pages/list.html">getNoticeUpdate()</a></li>
				<li><a href="/pages/update.html">updateNoticeUpdate()</a></li>
				<li><a href="/pages/delete.html">deleteNoticeUpdate()</a></li>
			</ul>
		</li>

		<li class="dropdown active">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/pages/add.html">addBrand()</a></li>
				<li><a href="/pages/view.html">getBrand()</a></li>
				<li><a href="/pages/list.html">getBrands()</a></li>
				<li><a href="/pages/update.html">updateBrand()</a></li>
				<li><a href="/pages/delete.html">deleteBrand()</a></li>
			</ul>
		</li>

		<li class="dropdown active">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Domains <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/pages/add.html">addDomain()</a></li>
				<li><a href="/pages/view.html">getDomain()</a></li>
				<li><a href="/pages/list.html">getDomains()</a></li>
				<li><a href="/pages/update.html">updateDomain()</a></li>
				<li><a href="/pages/delete.html">deleteDomain()</a></li>
			</ul>
		</li>

		<li class="dropdown active">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themes <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/pages/add.html">addTheme()</a></li>
				<li><a href="/pages/view.html">getTheme()</a></li>
				<li><a href="/pages/list.html">getThemes()</a></li>
				<li><a href="/pages/update.html">updateTheme()</a></li>
				<li><a href="/pages/delete.html">deleteTheme()</a></li>
			</ul>
		</li>

		<li class="dropdown active">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timezones <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/pages/add.html">addTimezone()</a></li>
				<li><a href="/pages/view.html">getTimezone()</a></li>
				<li><a href="/pages/list.html">getTimezones()</a></li>
				<li><a href="/pages/update.html">updateTimezone()</a></li>
				<li><a href="/pages/delete.html">deleteTimezone()</a></li>
			</ul>
		</li>
-->

	</ul>
</div>
