<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown {% if page.dir == '/pages' %}active{% endif %}">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="{{ site.baseurl }}/pages/add.html">addPage()</a></li>
				<li><a href="{{ site.baseurl }}/pages/view.html">getPage()</a></li>
				<li><a href="{{ site.baseurl }}/pages/list.html">getPages()</a></li>
				<li><a href="{{ site.baseurl }}/pages/update.html">updatePage()</a></li>
				<li><a href="{{ site.baseurl }}/pages/delete.html">deletePage()</a></li>
			</ul>
		</li>

		<li class="dropdown {% if page.dir == '/timezones' %}active{% endif %}">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timezones <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="{{ site.baseurl }}/timezones/list.html">getTimezones()</a></li>
			</ul>
		</li>
	</ul>
</div>
